form{
    margin: 15%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}
body{
    background-color:grey;
}